matplotlib==3.8.2
miditoolkit==1.0.1
mido==1.3.2
music21==9.1.0
numpy==1.23.5
prettytable==3.10.0
pytorch_lightning==2.1.4
setuptools==68.2.2
tensorflow==2.16.1
tokenizers==0.15.2
torch==2.1.2
tqdm==4.65.0
